@tailwind base;
@tailwind components;
@tailwind utilities;

.text-beige {
    color: #DDD0C8;
}

.text-darkGray {
    color: #323232;
}

.bg-beige {
    background-color: #DDD0C8;
}

.bg-darkGray {
    background-color: #323232;
}